<!DOCTYPE html>
<html class="govuk-template" lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1, viewport-fit=cover" name="viewport"/>
  <title layout:title-pattern="$CONTENT_TITLE"></title>
  <!--[if lte IE 8]>
  <link
      href="@{{cdnUrl}/stylesheets/govuk-frontend/v3.11.0/govuk-frontend-ie8-3.11.0.min.css(cdnUrl=${@environment.getProperty('cdn.url')})}"
      rel="stylesheet"
      type="text/css"/>
  <![endif]-->
  <link
      media="all"
      rel="stylesheet"
      th:href="@{{cdnUrl}/stylesheets/govuk-frontend/v3.11.0/govuk-frontend-3.11.0.min.css(cdnUrl=${@environment.getProperty('cdn.url')})}"
      type="text/css"/>
  <link rel="stylesheet"
        th:href="@{/css/application.css}"
        type="text/css"/>
  <link
      rel="icon"
      th:href="@{{cdnUrl}/images/favicon.ico?0.17.3(cdnUrl=${@environment.getProperty('cdn.url')})}"
      type="image/png"/>
  <link
      rel="icon"
      th:href="@{{cdnUrl}/images/royal-coat-of-arms-white.png(cdnUrl=${@environment.getProperty('cdn.url')})}"
      type="image/png"/>
  <script th:inline="javascript">
        window.SERVICE_NAME = 'developer-hub'
        window.PIWIK_URL = [[${@environment.getProperty('piwik.url')}]];
        window.PIWIK_SITE_ID = [[${@environment.getProperty('piwik.siteId')}]];
  </script>
</head>
<body class="govuk-template__body">
<div hidden id="templateName" th:attr="data-id=${templateName},data-metadata=${metadata}"></div>
<div id="skiplink-container">
  <a class="govuk-skip-link" href="#main-content">Skip to main content</a>
</div>
<div th:replace="~{fragments/piwikWithCookieCheck :: cookieBanner}"></div>
<div th:replace="~{fragments/header :: header}"></div>
<div class="govuk-width-container">
  <div th:replace="~{fragments/userBar :: userBar}"></div>
  <div th:replace="~{fragments/back-button :: backLink}"></div>
  <div th:switch="${isErrorPage}">
    <!-- Non Error pages require Nav bar and do not have main wrapper in fragment -->
    <div th:case="false" th:remove="tag">
      <main class="govuk-main-wrapper" id="main-content">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-third">
            <div th:replace="~{fragments/navBar :: navBar}"></div>
          </div>
          <div class="govuk-grid-column-two-thirds">
            <div layout:fragment="content"></div>
          </div>
        </div>
      </main>
    </div>
    <!-- Error pages come with their own main wrapper and no Nav Bar -->
    <div th:case="true" th:remove="tag">
      <div layout:fragment="content"></div>
    </div>
  </div>
</div>
<div th:replace="fragments/footer :: footer"></div>

<script
    th:src="@{{cdnUrl}/javascripts/app/body-js-enable.js(cdnUrl=${@environment.getProperty('cdn.url')})}"></script>
<script
    th:src="@{{cdnUrl}/javascripts/vendor/require.js(cdnUrl=${@environment.getProperty('cdn.url')})}"></script>
<script
    th:src="@{{cdnUrl}/javascripts/vendor/jquery-3.3.1.min.js(cdnUrl=${@environment.getProperty('cdn.url')})}"></script>
<script
    th:src="@{{cdnUrl}/javascripts/app/govuk-frontend-2.12.0.min.js(cdnUrl=${@environment.getProperty('cdn.url')})}"></script>
<script
    th:src="@{{cdnUrl}/javascripts/app/js-enable.js(cdnUrl=${@environment.getProperty('cdn.url')})}"></script>
<script
    th:src="@{{cdnUrl}/javascripts/app/radio-buttons.js(cdnUrl=${@environment.getProperty('cdn.url')})}"></script>
<script
    th:src="@{{cdnUrl}/javascripts/app/cookie-consent/cookie-consent-1.0.0.js(cdnUrl=${@environment.getProperty('cdn.url')})}"
    type="text/javascript"></script>
<script
    th:src="@{{cdnUrl}/javascripts/app/cookie-consent/piwik-only-cookie-consent.js(cdnUrl=${@environment.getProperty('cdn.url')})}"
    type="text/javascript"></script>
</body>
</html>
