<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title></title>
</head>
<body>
<div class="govuk-phase-banner" th:fragment="betaBanner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag "> beta </strong>
    <span class="govuk-phase-banner__text">
          This is a trial service. Help us improve it by <a class="govuk-link"
                                                            href="https://www.research.net/r/chfiling"
                                                            id="feedback-link"
                                                            rel="noopener noreferrer"
                                                            target="_blank">
        <span class="govuk-visually-hidden">
          This is a new service. Help us improve it by </span>completing our quick survey</a>
         </span>
  </p>
</div>
</body>
</html>
