<!DOCTYPE html>
<html class="govuk-template" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Header</title>
</head>
<body class="govuk-template__body">
<th:block th:fragment="header">
  <a class="govuk-skip-link" href="#main-content">Skip to main content</a>
  <header class="govuk-header" id="global-header" role="banner">
    <div class="govuk-header__container govuk-width-container">
      <div class="header-global">
        <div class="govuk-header__logo">
          <a class="govuk-header__link govuk-header__link--homepage" id="logo"
             th:href="@{{chsUrl}/(chsUrl=${@environment.getProperty('chs.url')})}"
             title="Go to the companies house homepage">
            <span
                class="govuk-header__logotype-text"> Companies House</span>
          </a>
        </div>
        <div class="govuk-header__content">
          <a class="govuk-header__link govuk-header__link--service-name"
             th:href="@{{chsUrl}/dev-hub(chsUrl=${@environment.getProperty('chs.url')})}">
            Developer Hub
          </a>
        </div>
      </div>

    </div>
  </header>
</th:block>
</body>
</html>
