<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Header</title>
</head>
<body>
<footer class="group js-footer" id="footer" role="contentinfo" th:fragment="footer">
  <nav>
    <div>
      <ul>
        <li><a href="http://resources.companieshouse.gov.uk/serviceInformation.shtml"
               id="policies-link">Policies</a></li>
        <li><a id="cookies-link"
               th:href="@{{chsUrl}/help/cookies(chsUrl=${@environment.getProperty('chs.url')})}">Cookies</a>
        </li>
        <li><a id="contact-us-link"
               th:href="@{{chsUrl}/help/contact-us(chsUrl=${@environment.getProperty('chs.url')})}">Contact
          us</a></li>
      </ul>
    </div>
  </nav>
</footer>
</body>
</html>