<!DOCTYPE html>
<html class="govuk-template" xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Header</title>
</head>

<header class="govuk-header govuk-header--borderless" data-module="header" role="banner">
  <div class="govuk-header__container govuk-width-container govuk-width-container--full">

    <div class="govuk-header__logo">
      <a class="govuk-header__link govuk-header__link--homepage" href="/">
                <span class="govuk-header__logotype">

                  <svg class="govuk-header__logotype-crown" focusable="false" height="32"
                       role="presentation" viewbox="0 0 86 86" width="32"
                       xmlns="http://www.w3.org/2000/svg">
                    <image class="govuk-header__logotype-crown-fallback-image"
                           src="/assets/govuk-logotype-crown.png"></image>
                  </svg>
                  <span class="govuk-header__logotype-text">
                    Companies House
                  </span>
                </span>

      </a>
    </div>
  </div>
</header>

</html>