<!DOCTYPE html>
<html class="govuk-template"
      lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>

<!-- This is expected to be called in the context of a list -->
<div th:fragment="navBarSubMenu (menu)" th:remove="tag">
  <li class="app-subnav__section-item">
    <a class="app-subnav__link govuk-link" th:href="${menu.url}" th:text="${menu.heading}"></a>
  </li>
  <li th:if="${not #lists.isEmpty(menu.children)}">
    <ul>
      <li th:each="item : ${menu.children}" th:remove="tag">
          <span th:replace="~{fragments/navBarSubMenu :: navBarSubMenu(menu=${item})}"></span>
      </li>
    </ul>
  </li>
</div>
</body>
</html>
