<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--  <title>Piwik</title>-->
<!--</head>-->
<!--<body>-->
<!--<div th:fragment="piwik" class="govuk-visually-hidden">-->
<!--  <script th:inline="javascript">-->
<!--                (function() {-->
<!--                    bindPiwikListener('developer-hub', /*[[${@environment.getProperty('piwik.url')}]]*/, /*[[${@environment.getProperty('piwik.siteId')}]]*/);-->
<!--                })();-->
<!--            </script>-->
<!--  <noscript>-->
<!--    <p>-->
<!--      <img th:src="@{{piwikUrl}/piwik.php?idsite={siteId}(piwikUrl=${@environment.getProperty('piwik.url')},-->
<!--                             siteId=${@environment.getProperty('piwik.site.id')})}" style="border:0;" alt="" />-->
<!--    </p>-->
<!--  </noscript>-->
<!--</div>-->
<!--</body>-->
<!--</html>-->