<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <title>User Bar</title>
</head>
<body>
<div class="js-toggle-nav" id="global-nav" th:fragment="userBar">
  <nav class="content">
    <div
        th:with="loggedIn=${T(uk.gov.ch.developer.docs.models.user.UserModel).isUserSignedIn(userModel)}">
      <ul class="mobile-hidden" id="navigation" th:switch="${loggedIn}">
        <ul th:case="true" th:remove="tag">
          <li class="user" id="signed-in-user" th:text="${userModel.getId()}"></li>
          <li><a class="piwik-event" data-event-id="Sign out" href="/signout" id="user-signout">Sign
            out
          </a></li>
        </ul>
        <ul th:case="false" th:remove="tag">
          <li><a class="piwik-event govuk-link" data-event-id="Sign In" href="/signin"
                 id="user-signin">Sign in / Register</a></li>
        </ul>
        <li><a class="govuk-link"
               th:href="@{{forum}(forum=${@environment.getProperty('developerforum.url')})}">Developer
          hub forum</a></li>
      </ul>
    </div>
  </nav>
</div>
</body>
</html>