.app-subnav {
  padding: 0 15px 0 0;
  font-family: 'nta',Arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: .875em;
  line-height: 1.14286;
}
@media print {
  .app-subnav {
    font-family: sans-serif;
  }
}
@media (min-width: 40.0625em) {
  .app-subnav {
    font-size: 1em;
    line-height: 1.25;
  }
}
@media print {
  .app-subnav {
    font-size: 14pt;
    line-height: 1.2;
  }
}
@media (min-width: 40.0625em) {
  .app-subnav {
    margin-left: -15px;
  }
}
.app-subnav__section {
  margin: 0 0 20px;
  padding: 0;
  list-style-type: none;
}
.app-subnav__link {
  display: block;
  padding: 8px 30px 8px 10px;
  border-left: 4px solid transparent;
  text-decoration: none;
}
.app-subnav__link:focus {
  background: inherit;
}
.app-subnav__link:active,
.app-subnav__link:hover,
.app-subnav__link:visited {
  color: #005ea5;
}
.app-subnav__link:hover {
  border-left-color: #2b8cc4;
}
.app-subnav__section-item--current .app-subnav__link {
  border-left-color: #005ea5;
  background: #f8f8f8;
  font-weight: bold;
}
.app-subnav__section--nested {
  margin-bottom: 0;
}
.app-subnav__section--nested .app-subnav__link {
  padding-left: 20px;
  font-weight: 400;
}
.app-subnav__theme {
  margin: 0;
  padding: 10px 15px;
  color: #6f777b;
  font-family: 'nta',Arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 1em;
  line-height: 1.25;
}
@media print {
  .app-subnav__theme {
    font-family: sans-serif;
  }
}
@media (min-width: 40.0625em) {
  .app-subnav__theme {
    font-size: 19px;
    font-size: 1.1875em;
    line-height: 1.31579;
  }
}
@media print {
  .app-subnav__theme {
    font-size: 14pt;
    line-height: 1.15;
  }
}
.govuk-header {
  border-bottom: 10px solid #1d70b8;
  background-color: #1d70b8;
}
.govuk-header__container {
  border-bottom: 0;
  padding-bottom: 7px;
  background-color: #1d70b8;
}

.govuk-header__logo {
  padding-top:7px;
}

#service-name {
  color: #0b0c0c;
}

@media (max-width: 40.0525em) {
  .app-hide-mobile {
    display: none;
  }
}
@media (min-width: 40.0625em) {
  .app-hide-tablet {
    display: none;
  }
}
@media (min-width: 48.0625em) {
  .app-hide-desktop {
    display: none;
  }
}
.app-header-mobile-nav-toggler-wrapper {
  display: block;
  float: right;
}
.app-header-mobile-nav-toggler {
  display: none;
  min-height: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-right: 0;
  padding-left: 0;
  border: 1px solid transparent;
  background-color: #0b0c0c;
  -webkit-box-shadow: 0 0 0 #0b0c0c;
  box-shadow: 0 0 0 #0b0c0c;
}
.app-header-mobile-nav-toggler:active,
.app-header-mobile-nav-toggler:focus,
.app-header-mobile-nav-toggler:hover {
  background-color: #0b0c0c;
  -webkit-box-shadow: 0 0 0 #0b0c0c;
  box-shadow: 0 0 0 #0b0c0c;
}
.app-header-mobile-nav-toggler::after {
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-color: transparent;
  -webkit-clip-path: polygon(0% 0%, 50% 100%, 100% 0%);
  clip-path: polygon(0% 0%, 50% 100%, 100% 0%);
  border-width: 8.66px 5px 0 5px;
  border-top-color: inherit;
  content: '';
  margin-left: 5px;
  border-color: #fff;
}
.app-header-mobile-nav-toggler--active.app-header-mobile-nav-toggler::after {
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-color: transparent;
  -webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  border-width: 0 5px 8.66px 5px;
  border-bottom-color: inherit;
  border-color: #fff;
}
@media (max-width: 40.0525em) {
  .js-enabled .app-header-mobile-nav-toggler {
    display: inline;
  }
}

pre code {
  display: block; padding: 0.5em;
  background: #fff; color: black;
}
pre .comment,
pre .template_comment,
pre .javadoc,
pre .comment * {
  color: rgb(0,106,0);
}
pre .keyword,
pre .literal,
pre .nginx .title {
  color: rgb(170,13,145);
}
pre .method,
pre .list .title,
pre .tag .title,
pre .setting .value,
pre .winutils,
pre .tex .command,
pre .http .title,
pre .request,
pre .status {
  color: #008;
}
pre .envvar,
pre .tex .special {
  color: #660;
}
pre .string {
  color: rgb(196,26,22);
}
pre .tag .value,
pre .cdata,
pre .filter .argument,
pre .attr_selector,
pre .apache .cbracket,
pre .date,
pre .regexp {
  color: #080;
}
pre .sub .identifier,
pre .pi,
pre .tag,
pre .tag .keyword,
pre .decorator,
pre .ini .title,
pre .shebang,
pre .prompt,
pre .hexcolor,
pre .rules .value,
pre .css .value .number,
pre .symbol,
pre .symbol .string,
pre .number,
pre .css .function,
pre .clojure .title,
pre .clojure .built_in {
  color: rgb(28,0,207);
}
pre .class .title,
pre .haskell .type,
pre .smalltalk .class,
pre .javadoctag,
pre .yardoctag,
pre .phpdoc,
pre .typename,
pre .tag .attribute,
pre .doctype,
pre .class .id,
pre .built_in,
pre .setting,
pre .params,
pre .clojure .attribute {
  color: rgb(92,38,153);
}
pre .variable {
 color: rgb(63,110,116);
}
pre .css .tag,
pre .rules .property,
pre .pseudo,
pre .subst {
  color: #000;
}
pre .css .class, pre .css .id {
  color: #9B703F;
}
pre .value .important {
  color: #ff7700;
  font-weight: bold;
}
pre .rules .keyword {
  color: #C5AF75;
}
pre .annotation,
pre .apache .sqbracket,
pre .nginx .built_in {
  color: #9B859D;
}
pre .preprocessor,
pre .preprocessor * {
  color: rgb(100,56,32);
}
pre .tex .formula {
  background-color: #EEE;
  font-style: italic;
}
pre .diff .header,
pre .chunk {
  color: #808080;
  font-weight: bold;
}
pre .diff .change {
  background-color: #BCCFF9;
}
pre .addition {
  background-color: #BAEEBA;
}
pre .deletion {
  background-color: #FFC8BD;
}
pre .comment .yardoctag {
  font-weight: bold;
}
pre .method .id {
  color: #000;
}
pre,
code,
.code,
pre code,
pre code .attribute,
table td.resource,
table td code,
table span.value {
  color: #008000;
  font-family: "proxima_nova", Arial, sans-serif;
  font-weight: 400;
  text-transform: none;
  font-size: 0.7rem;
  line-height: 1.25;
  font-family: "Courier New", Courier, monospace;
  white-space: pre;
  white-space: pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -hp-pre-wrap;
  word-wrap: break-word;
}
@media (min-width: 641px) {
  pre,
  code,
  .code,
  pre code,
  pre code .attribute,
  table td.resource,
  table td code,
  table span.value {
    font-size: 0.9rem;
    line-height: 1.42857;
  }
}
pre code {
  background: #f8f8f8;
  border: 0;
}

#global-header a#logo {
  padding: 3px 0 2px 0px;
}

.app-subnav__section ul {
  list-style-type: none;
  padding-inline-start: 20px;
}

#global-nav {
  font-family: 'proxima_nova', Arial, sans-serif;
  font-weight: 400;
  text-transform: none;
  font-size: 14px;
  line-height: 1.14286;
  margin: 0;
  position: relative;
  z-index: 60;
}

@media (min-width: 641px) {
  #global-nav {
    font-size: 16px;
    line-height: 1.25;
  }
}

@media (max-width: 640px) {
  #global-nav {
    margin: 0 -15px 1em;
  }
}

@media (min-width: 641px) {
  #global-nav {
    margin: 0;
  }
}

@media (min-width: 769px) {
  #global-nav {
    text-align: right;
  }
}

#global-nav .inner {
  padding: 0;
}

@media (min-width: 769px) {
  #global-nav .inner {
    padding: 0 30px;
  }
}

@media (min-width: 641px) {
  #global-nav .inner {
    padding-bottom: 0;
  }
}

#global-nav .js-header-toggle,
#global-nav .sign-in {
  display: block;
  text-decoration: none;
  cursor: pointer;
  background-color: #dee0e2;
  padding: 1em;
}

@media (min-width: 641px) {
  #global-nav .js-header-toggle,
  #global-nav .sign-in {
    display: none;
  }
}

@media (min-width: 769px) {
  #global-nav .js-header-toggle,
  #global-nav .sign-in {
    display: none;
  }
}

#global-nav .js-header-toggle:focus,
#global-nav .js-header-toggle:hover,
#global-nav .sign-in:focus,
#global-nav .sign-in:hover {
  text-decoration: underline;
}

#global-nav .home a {
  display: block;
  float: left;
  padding-left: 0;
}

#global-nav .jump-link {
  float: right;
}

@media (min-width: 769px) {
  #global-nav .jump-link {
    position: absolute;
    left: -99999em;
  }
}

#global-nav .js-header-toggle:focus {
  outline: none;
}

#global-nav .js-header-toggle:after {
  display: inline-block;
  font-size: 8px;
  height: 8px;
  padding-left: 5px;
  vertical-align: middle;
  content: ' \25BC';
}

#global-nav.open .js-header-toggle:after {
  content: ' \25B2';
}

#global-nav nav {
  border-bottom: 1px solid #bfc1c3;
}

@media (min-width: 769px) {
  #global-nav nav {
    padding: 10px 0;
  }
}

@media (min-width: 769px) {
  #global-nav nav {
    clear: none;
    background: transparent;
    position: static;
    margin-bottom: 0;
  }
}

#global-nav nav #navigation {
  margin: 0;
  padding: 0 0 1em;
}

@media (min-width: 641px) {
  #global-nav nav #navigation {
    padding: 10px 0;
  }
}

@media (min-width: 769px) {
  #global-nav nav #navigation {
    padding: 0;
  }
}

#global-nav nav .current {
  color: #fff;
}

#global-nav nav a {
  text-decoration: underline;
}

#global-nav nav li {
  padding: 10px 0 10px 16px;
  margin-bottom: 0;
  display: block;
  position: relative;
}

@media (max-width: 640px) {
  #global-nav nav li {
    padding: 1em 1em 0;
  }
}

@media (min-width: 641px) {
  #global-nav nav li {
    display: inline;
  }
}

@media (max-width: 640px) {
  #global-nav nav li.user {
    display: none;
  }
}

@media (min-width: 641px) {
  #global-nav nav li.user {
    padding-left: 0;
  }
}

@media (min-width: 641px) {
  #global-nav nav li.unauthenticated {
    padding-left: 0;
  }
}

#global-nav .home a {
  position: relative;
}

#global-nav .home a small {
  position: absolute;
  top: .8em;
  text-transform: uppercase;
  color: white;
  -webkit-font-smoothing: subpixel-antialiased;
  background-color: #dee0e2;
  padding: 2px 5px 0;
  margin-left: 10px;
}

#global-nav .home a small.alpha {
  background-color: #d53880;
}

#global-nav .home a small.beta {
  background-color: #f47738;
}

@media (min-width:48.0625em) {
  .govuk-header__logo {
    width: 38.33%;
  }
  .govuk-header__content {
    width: 61.66%;
  }
}