<html lang="en-GB"
      layout:decorate="~{layouts/baseLayout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">

<head>
  <title th:utext="${templateTitle}"></title>
</head>
<body>
<div layout:fragment="content">
  <h1 class="heading-large">Set up a Companies House account</h1>
  <p>To be able to explore and perform tests with the Companies House API, you
    need to register a <a href="/developer/signin">user account</a> with Companies House.</p>
</div>
</body>
</html>