<!DOCTYPE html>
<html lang="en"
      layout:decorate="~{layouts/baseLayout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <title th:utext="${templateTitle}"></title>
</head>
<body>
<div layout:fragment="content">
  <h1 class="govuk-heading-xl">Developer guidelines</h1>
  <h2 class="govuk-heading-l">Contents</h2>
  <ol class="govuk-list govuk-list--number">
    <li><a class="govuk-link" href="#ratelimits">API rate limits</a></li>
    <li><a class="govuk-link" href="#enumtypes">Enumerated types</a></li>
    <li><a class="govuk-link" href="#resources">Data resources</a></li>
    <li><a class="govuk-link" href="#appsecurity">Application security</a></li>
    <li><a class="govuk-link" href="#keysecurity">API key security</a></li>
  </ol>
  <section id="ratelimits">
    <h2 class="govuk-heading-l">API rate limits</h2>
    <p class="govuk-body">Rate limiting is applied to the Companies House API to ensure a
      high quality service is delivered for all users, and to protect client applications from
      unexpected loops.
    </p>
    <p class="govuk-body">
      You can make up to 600 requests within a 5 minute period. If you exceed this limit, you
      will receive a <code>429 Too Many Requests</code> HTTP status code for each request made
      within the
      remainder of the 5 minute time frame. At the end of the period, your rate limit will reset back
      to 600 requests.
    </p>
    <p class="govuk-body">
      If you have an application that requires a higher rate limit than this default, <a
        class="govuk-link"
        th:href="@{{chsUrl}/help/contact-us(chsUrl=${@environment.getProperty('chs.url')})}">contact
      us.</a>
    </p>
  </section>
  <section id="enumtypes">
    <h2 class="govuk-heading-l">Enumerated types</h2>
    <p class="govuk-body">A majority of the resources returned by the Companies House API contain
      members that reference enumeration types. This helps the resources to be self-documenting, and
      allows clients to interpret the meaning of a resource member without needing to parse a text
      description.
    </p>
    <p class="govuk-body">
      Enumeration types are used to supplement or replace a text description. This allows clients
      to display their own version of a description or provide descriptions in multiple languages.
    </p>
    <p class="govuk-body">
      The collection of enumeration types used by Companies House are available on <a
        class="govuk-link"
        href="https://github.com/companieshouse/api-enumerations">GitHub</a>. These files provide
      mapping between enumeration type and text description, and are divided
      into sets or classes. Each API resource member will define which class of enumeration is being
      returned.
    </p>
    <p class="govuk-body">
      A planned enhancement to the enumeration scheme is the provision of API endpoints that will
      return the enumeration class catalogue. This avoids enumerations having to be hard-coded
      within a client, and by periodically checking for change through ETags, clients do not have to
      download the full catalogue.
    </p>
  </section>
  <section id="resources">
    <h2 class="govuk-heading-l">Data resources</h2>
    <p class="govuk-body">
      Data is mostly returned as JSON documents. Your application must be able to handle the order
      of document members changing over time and expect to receive members it has not seen before.
    </p>
  </section>
  <section id="appsecurity">
    <h2 class="govuk-heading-l">Application security</h2>
    <p class="govuk-body">The API can only be accessed over Transport Layer Security (TLS). We
      recommend using TLS 1.2.
    </p>
  </section>
  <section id="keysecurity">
    <h2 class="govuk-heading-l">API key security </h2>
    <p class="govuk-body">It is important to keep your API keys secure. This will prevent them from
      being discovered, your account from being compromised and your rate-limit quota from being
      exceeded.
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li><p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-1">Do not embed API
        keys in your code</p>
        <p class="govuk-body">Storing keys in your application code increases the risk that they
          will be discovered, particularly if any of your source code is made public or it can be
          viewed by people who should not have access to the key. Instead, you should consider
          storing them inside environment variables or configuration.
        </p>
      </li>
      <li><p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-1">Do not store API
        keys in your source tree</p>
        <p class="govuk-body">If you store API keys in files, for example, configuration or
          environment files, do not store them inside the application source tree. If all or part of
          the source is made public, the key may be compromised.
        </p>
      </li>
      <li><p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-1">Restrict API key
        use by IP address and domain</p>
        <p class="govuk-body">Limit the use of a key to a specific IP address or domain to reduce
          its usefulness if it becomes compromised.
        </p>
      </li>
      <li><p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-1">Regenerate your API
        keys</p>
        <p class="govuk-body">Regenerate your API keys regularly, including with each application
          release, to reduce the chance that a key will be discovered.
        </p>
      </li>
      <li><p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-1">Delete API keys
        when no longer required</p>
        <p class="govuk-body">Remove unused keys from your Developer Hub registered applications
          page to limit the number of entry points into your account.
        </p>
      </li>
    </ul>
  </section>
</div>
</body>
</html>