<!DOCTYPE html>
<html lang="en"
      layout:decorate="~{layouts/baseLayout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <title th:utext="${templateTitle}"></title>
</head>
<div id="temp-home-main-content" layout:fragment="content">
  <header class="page-header group">
    <h1 class="govuk-heading-xl">Companies House API overview</h1>
  </header>
  <p class="govuk-body">Companies House is an executive agency of the Department for Business
    Innovation and Skills (BEIS).
    Our main functions are: to incorporate and dissolve limited companies; examine and store company
    information delivered under the Companies Act and related
    legislation; and make this information available to the public.
  </p>
  <p class="govuk-body">The Companies House API lets you retrieve information about limited companies (and other 
    companies that fall within the Companies Act 2006). The data returned is live and real-time, and is simple to use and understand.
  </p>
  <h2 class="govuk-heading-l">Beta release</h2>
  <p class="govuk-body">The Companies House API and Developer Hub are currently at a
    <a class="govuk-link" href="https://www.gov.uk/service-manual/agile-delivery/how-the-beta-phase-works">beta
      release</a>.
    We are going through a process of user engagement to improve the API and documentation.
  </p>
  <p class="govuk-body">
    We have a proposed approach to versioning the API and documentation that is currently being discussed in the <a class="govuk-link"
                                               href="https://forum.aws.chdev.org">Developer
    Forum</a>. In the meantime, existing resources will remain as they are and can be considered as at 'version 0'.
  </p>
  <p class="govuk-body">You can refer to the Developer
    Forum for ongoing feature and documentation discussions, and announcements about upcoming
    feature releases.
  </p>
  <h2 class="govuk-heading-l">Before you start</h2>
  <p class="govuk-body">If you are new to the Companies House API, take a look at the <a
      class="govuk-link"
      th:href="@{{startUrl}/(startUrl=${@environment.getProperty('getStarted.url')})}">
    get started</a> guide, which has resources and information to help you.
  </p>
  <p class="govuk-body">In the Developer Forum, you can also discuss the API, find help and provide feedback.
  </p>
</div>
</html>
