<!DOCTYPE html>
<html lang="en-GB"
      layout:decorate="~{layouts/baseLayout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:utext="${templateTitle}"></title>
</head>
<body>

<div layout:fragment="content">
    <h2 class="heading-medium">API key authentication</h2>

    <p class="hyphenate">The Companies House API requires authentication credentials, in the
        form of an API key, to be sent with each request.
    </p>

    <p class="hyphenate">To obtain an API key, go to <a href=https://www.example.com/>Your applications</a> and register
        the application with
        the Companies House Developer Hub as an <code>API Key</code> application.
        This will allocate a unique key to the application which can be sent
        with any <code>GET</code> request for a public resource served by the
        Companies House API.
    </p>

    <h3 class="heading-small">Sending the API key</h3>
    <p class="hyphenate">The Companies House API uses <a href="https://www.example.com/">HTTP Basic Authentication</a>
        to transmit an API
        key between the client application and the server. Basic authentication
        is usually made up of a username and password pair; the Companies House API
        takes the username as the API key and ignores the password, so can be left
        blank.</p>

    <h2 class="heading-medium">Example</h2>
    <h3 class="heading-small">HTTP Basic Authentication</h3>
    <p>For an API key of my_api_key, the following curl request demonstrates the
        setting of the <code>Authorization</code> HTTP request header, as defined by
        <a href="https://www.example.com/">RFC2617</a>.</p>
    <!-- https://tools.ietf.org/html/rfc2617 sticking this link here for easy retrival if we need if when updating the content of this page. -->
    <pre><code>curl -XGET -u my_api_key: https://api.companieshouse.gov.uk/company/00000006</code></pre>

    <pre><code class="http">GET /company/00000006 HTTP/1.1
Host: api.companieshouse.gov.uk
Authorization: Basic bXlfYXBpX2tleTo=
    </code></pre>
</div>
</body>
</html>