<!DOCTYPE html>
<html layout:decorate="~{layouts/baseLayout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <title th:utext="${templateTitle}"></title>
</head>
<div id="temp-home-main-content" layout:fragment="content">
    <h1 class="govuk-heading-xl">Companies House REST API Overview</h1>
  <section>
    <p class="govuk-body">The Companies House API is a REST API that provides a simple, consistent
      approach to requesting and modifying data. REST stands for Representational State Transfer, an
      architectural software style in which standard HTTP request methods are used to retrieve and
      modify representations of data. This is identical to the process of retrieving a web page or
      submitting a web form.
    </p>
    <p class="govuk-body">Previous versions of the Companies House API implemented an XML-RPC style
      of interface. Data was retrieved or submitted by POSTing XML documents to the service, each
      defining the method to be called and the data to be processed.
    </p>
    <p class="govuk-body">The difference between both API approaches is defined below.
    </p>
  </section>
  <section id="rest">
    <h2 class="govuk-heading-l">Representational State Transfer (REST) web services</h2>
    <p class="govuk-body">REST is an architectural software style in which standard HTTP requests
      are used to provide a simple and consistent approach to requesting and modifying data.
    </p>
    <p class="govuk-body">In a RESTful style of API, data resources are allocated unique URLs and
      manipulated through standard HTTP verbs such as <code>GET</code> to request a resource, <code>POST</code>
      to create a resource, <code>PUT</code> to change a resource, and <code>DELETE</code> to remove
      a resource.
    </p>
    <p class="govuk-body">In contrast to the above XML-RPC examples, the equivalent RESTful API
      request for a <code>customer</code> record would be:
    </p>
    <pre class="request"><span class="request">GET <span
        class="string">http://api.example.domain/customer/12345</span> HTTP/1.1</span></pre>
    <p class="govuk-body">The resource request is made using the <code>GET</code> method, and that
      there is no request body.
    </p>
    <p class="govuk-body">In a RESTful API, a resource is modified by POSTing a revised resource
      representation, in this case JSON, to the same resource URL:
    </p>
    <pre><code><span class="request">POST <span
        class="string">http://api.example.domain/customer/12345</span> HTTP/1.1</span></code></pre>
    <pre><code class="http">Content-Type: <span class="string">text/json</span></code></pre>
    <pre><code class="http">{
    "CustomerName": <span class="string">"Joe Bloggs"</span>,
    "Address"      : <span class="string">""</span>,
    "etc"           : <span class="string">"etc"</span>
}</code></pre>
    <p class="govuk-body">
      Similarly, a resource may be deleted by sending a <code>DELETE</code> request to the resource
      URL:
    </p>
    <pre><code><span class="request">DELETE <span
        class="string">http://api.example.domain/customer/12345</span> HTTP/1.1</span></code></pre>
    <p class="govuk-body">REST uses the existing features of the HTTP protocol and does not permit
      the designer to
      define application specific operations. In addition, because each resource has a globally
      unique URI and is able to make use of the <code>GET</code> method for resource requests, these
      APIs benefit from existing network components such as caches, proxies and intelligent routing.
    </p>
  </section>
  <section id="json">
    <h2 class="govuk-heading-l">The JSON data format</h2>
    <p class="govuk-body">JSON, or JavaScript Object Notation, is an open, standard format for
      storing and exchanging data. It is easier to use than XML and more compact. It can be used as
      a data format by any programming language, which makes it ideal for HTTP-based API
      services.
    </p>
  </section>
</div>
</html>
